@model IEnumerable<Capstone.Web.Models.Survey>

@{
    ViewData["Title"] = "FavoritePark";
}

<h2>Our Most Popular Parks!</h2>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Park
            </th>
            <th>
                Number of People Who Love This Park!
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="parkImage" src="~/img/parks/@(item.ParkCode).jpg" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurveyCount)
                </td>

            </tr>
        }
    </tbody>
</table>
