@model IEnumerable<Capstone.Web.Models.Survey>

@{
    ViewData["Title"] = "FavoritePark";
}

<h2>FavoritePark</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkCode)
            </th>
            <th>
                Number of People Who Love This Park!
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyCount)
            </td>

        </tr>
}
    </tbody>
</table>
