body {
    background-color: #ffff;
    width: 90%;
    font-family: sans-serif;
    margin: 0 auto;
}
div.navbar-header{
    padding-bottom: 5px;
}

header {
    
    margin: 25px;
}

    header img {
        padding-top:30px;
        height: 110px;
    }



container.park-image {
    height: 200px;
}

.weather{
    display: flex;

}

.weather-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.detail-image{
    width: 100%;
}

.strong{
    font-weight: 700; 
}

.quote-grid{
    display: grid;
    grid-template-areas:
        'quote'
        'source'

}

.quote {
    font-style: italic;
    font-family: Georgia, serif;
    font-size: x-large;
    grid-area: quote;
}

.quote-source{
    font-size: larger;
    grid-area: source;
    text-align: right;
}